body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    background-color: rgb(232, 235, 244);
}

#container {
    border: 13px solid rgb(80, 79, 79);
    border-radius: 12px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 25px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#calculator {
    margin: 0;
    padding: 0;
    border: 7px solid rgb(37, 37, 37);
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 400px;
}

.row {
    display: flex;
}

button {
    width: 100px;
    height: 80px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: monospace;
    border: 1.5px solid rgb(37, 37, 37);
    border-radius: 7px;
    cursor: pointer;
}

.operator:active {
    background: rgb(19, 69, 66);
     outline: none;
}

.divide,
.change-sign,
.clear-all {
    border-top: 5px solid rgb(37, 37, 37);
}

.operator {
    background-color: rgb(30, 113, 110);
    color: white;
}

.number,
.dot {
    background-color: rgb(227, 224, 173);
}

.number:active,
.dot:active {
    background: rgb(158, 156, 120);
     outline: none;
}

.clear-all,
.change-sign {
    width: 150px;
}

.clear-all {
    background-color: rgb(188, 125, 15);
}

.clear-all:active {
    background: rgb(137, 91, 11);
    outline: none;
}

.number.zero {
    width: 200px;
}

#display {
    background-color: rgba(247, 247, 246, 0.989);
    width: 390px;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 65px;
    text-wrap: nowrap;
    padding-right: 10px;
    color: rgb(27, 26, 26);
}

.error-message {
    font-family: monospace;
    font-size: 35px;
}